fastapi
uvicorn
pydantic
pandas
numpy
optuna
lightgbm
xgboost
catboost
scikit-learn
scipy
matplotlib 
seaborn
joblib
python-dotenv
pytest
httpx
sentence-transformers==2.7.0
faiss-cpu==1.8.0
langchain==0.3.0
langchain-community==0.3.0
langchain-huggingface
nltk==3.9.1
rouge_score
langdetect
redis
websockets
pytest-asyncio   
fakeredis
great_expectations
dvc==3.59.2
dvc[gdrive]==3.59.2
mlflow==2.22.0
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.5.3 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
